# Example rcqpcrossrc file.
# Set the appropriate values for the following variables and remove the 
# .TMPL extension from the name of the file.


RCQP_CROSS_CC=i386-mingw32-gcc

RCQP_CROSS_HOST=i386-mingw32

RCQP_CROSS_ARCH=i386

RCQP_CROSS_BASEDIR=~/Rcqp/CrossCompilation
